@import 'keyframes.css';

header{
position: absolute;
background: url("pics/prag.jpg");
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
top: 33px;
left:0;
right:0;
padding: 60px;
bottom:0;
	}
header.blur{
	
	background: url("pics/blur-prag.jpg");
	
	}
#navbar {
 background-color:#2C5463;
 width:100%;
 height:33px;
 position:fixed;
 top:0px;
 left:0px;
}
ul.navlist {
 
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
ul.navlist li.navlist {
	
	height:33px;
	display: block;
	position: relative;
	float: left;
}

ul.navlist li.navlist a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-top:thin;
  padding: 5px 15px 5px 15px;
  background: #2C5463;
  margin-left: 1px;
  white-space: nowrap;
}
ul.navlist li.navlist a:hover { background: #617F8A; }

.panel-description{
background: rgba(255, 255, 255, 0.50);
color: #333;
padding: 10px;
float:left;
margin:100px 200px;
text-align: center;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
}
p{
	text-align: left;
		margin-left: 50px;

	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
	}
.skills{
	display:list-item;
	float:none;
	text-align: left;
	margin-left: 60px;
	text-shadow: 3px 1px 2px #666666;

	}
#myskill{
	margin-left: 60px;
	
	}
	
.font-style
{
font-family: Acme;
color: #2E2E2E;
font-size: 18px;
letter-spacing: 1.8pt;
word-spacing: 3pt;
line-height: 1.6;
text-shadow: 3px 1px 2px #666666;
}
	
img.profile {
width:105px;
height:100px;
margin-top: -45px;
margin-bottom: 10px;
-webkit-transition: 500ms;
-moz-transition: 500ms;
transition: 500ms;
-webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}

img.profile:hover{
	-moz-transform:scale(2); 
	-webkit-transform:scale(2);
	-o-transform:scale(2);
	}

a{text-decoration:none
}

.animatedcard{
-webkit-animation:rotateInUpLeft 1s .2s ease both;
-moz-animation:rotateInUpLeft 1s .2s ease both;
}

a.myname:visited{color:black} 
